Disease Name:
<input type="text" [(ngModel)]="dname" name="dname" class="form-control" placeholder="Enter Disease Name">
<br><br>
Description:
<input type="text" [(ngModel)]="desc" name="desc" class="form-control" placeholder="Enter Description">
<br><br>
Symptoms:
<input type="text" [(ngModel)]="symp" name="symp" class="form-control" placeholder="Enter symptoms">
<br><br>
Treatment
<input type="text" [(ngModel)]="tre" name="tre" class="form-control" placeholder="Enter Tratment for the diease">
Causes:
<input type="text" [(ngModel)]="cause" name="cause" class="form-control" placeholder="Enter causes">

<br><br><br><br>
<button type="submit" class="btn btn-primary" (click)="Submit()">Submit</button>
