Medicine Name:
<input type="text" [(ngModel)]="mname" name="mname" class="form-control" placeholder="Enter Medicine Name">
<br><br>
Description:
<input type="text" [(ngModel)]="desc" name="desc" class="form-control" placeholder="Enter Description">
<br><br>
Uses:
<input type="text" [(ngModel)]="uses" name="uses" class="form-control" placeholder="Enter Usage">
<br><br>
Precaution:
<input type="text" [(ngModel)]="pre" name="pre" class="form-control" placeholder="Enter Necessary Precaution to be taken">

<br><br><br><br>
<button type="submit" class="btn btn-primary" (click)="Submit()">Submit</button>
