<p>changemate works!</p>
<!--
<mat-form-field>
    <input (keyup)="applyfilter($event.target.value)" matInput placeholder="Enter">
</mat-form-field>
-->
<div class="form">
  <mat-form-field floatPlaceholder="never" color="accent">
    <input matInput #filter placeholder="Filter issues">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="medname">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Medicine name </th>
      <td mat-cell *matCellDef="let element"> {{element.medname}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>


      <ng-container matColumnDef="add">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent" (click)="startEdit(i,row.medname,row.price,row.quantity,row.id)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
       

     
          <button mat-icon-button color="accent" (click)="deleteItem(i,row.medname,row.price,row.quantity,row.id)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>

  </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  
  <mat-paginator #paginator
  [length]="dataSource.filteredData.length"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

