

<ul class="list-group" *ngFor="let pree of drug; index as i">
    <div class="form1">
        <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-2 m-auto">
                <div class="my-blog">
    <li class="list-group-item"  ><b>MEDICINE:</b>{{pree.mname}}<br><br><b>Description:</b>{{pree.desc}}<br><br><b>Uses:</b>{{pree.uses}}<br><br><b>Precaution:</b>{{pree.pre}}
        
    
    </li>
    <br>
</div>
</div>
</div>
</div>
</div> 
</ul>

<br><br>

